{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Rechte</h3>
			</div>
			<table class="table">
				<tr>
					<th>Name</th>
				</tr>
    {% for r in right %}
        <tr><td>{{ r.name }}</td></tr>
    {% endfor %}
			</table>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Rollen</h3>
			</div>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Rechte</th>
				</tr>
    {% for r in role %}
        <tr>
			<td>{{ r.name }}</td>
			<td>{{ r.rights.all|join:", " }}</td>
		</tr>
    {% endfor %}
			</table>
		</div>
			
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Stände</h3>
			</div>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Hintergrund</th>
					<th>Rechte</th>
				</tr>
    {% for r in department %}
        <tr>
			<td>{{ r.name }}</td>
			<td><img height="35px" src="/media/{{ r.background }}" />
				{% if r.default_image %}<img height="35px" src="/media/{{ r.default_image }}" />{% endif %}</td>
			<td>{{ r.rights.all|join:", " }}</td>
		</tr>
    {% endfor %}
			</table>
		</div>
		
	</div>
	<div class="col-md-7">
		<form action="/persons/delete/" method="post">
		{% csrf_token %}
		<div class="panel panel-default">
			
			<div class="panel-heading">
				<h3 class="panel-title">Personen <input type="submit" value="markierte löschen" /></h3>
			</div>
			
			<table class="table">
				<tr>
					<th></th>
					<th>Name</th>
					<th></th>
					<th>Stand</th>
					<th>Rolle</th>
					<th>Rechte</th>
				</tr>
    {% for p in person %}
        <tr>
			<td style="background-image:url(/media/{{ p.department.background }});background-size: 35px;">
				{% if p.image %}
					<img height="30px" src="/media/{{ p.image }}" />
				{% elif p.department.default_image %}
					<img height="30px" src="/media/{{ p.department.default_image }}" />
				{% endif %}
			</td>
			<td><input type="checkbox" name="print" value="{{p.id}}" /> <a href="/persons/detail/{{ p.id }}">{{ p.firstname }} {{ p.lastname }}</a></td>
			<td>{% if p.printed %}<span class="glyphicon glyphicon-print"></span>{% endif %}</td>
			<td>{{ p.department }}</td>
			<td>{% if p.role %}{{ p.role }}{% else %}--{% endif %}</td>
			<td>{{ p.calc_rights|join:", " }}</td>
		</tr>
    {% endfor %}
			</table>
			
		</div>
		</form>
	</div>
</div>
{% endblock %}