{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		{% for d in departments %}
		<form method="post" action="?id={{ d.id }}">
		{% csrf_token %}
		
		<div class="panel panel-default">
			
			<div class="panel-heading">
				<h3 class="panel-title">{{ d.name }} <input type="submit" value="drucken" /> </h3>
			</div> 
			
				
			<table class="table">
				<tr>
					<th>Druck</th>
					<th></th>
					<th>Name</th>
					<th>Stand</th>
					<th>Rolle</th>
					<th>Rechte</th>
				</tr>
    {% for p in d.persons %}
        <tr>
			<td><input type="checkbox" name="print" value="{{p.id}}" checked /></td>
			<td style="background-image:url(/media/{{ d.background }}); background-size:35px;">
				{% if p.image %}
					<img height="30px" src="/media/{{ p.image }}" />
				{% elif p.department.default_image %}
					<img height="30px" src="/media/{{ d.default_image }}" />
				{% endif %}
			</td>
			<td>{{ p.firstname }} {{ p.lastname }}</td>
			<td>{{ p.department }}</td>
			<td>{% if p.role %}{{ p.role }}{% else %}--{% endif %}</td>
			<td>{{ p.calc_rights|join:", " }}</td>
		</tr>
    {% endfor %}
			</table>
		</div>
		</form>
		{% endfor %}
	</div>
</div>
{% endblock %}